@model IEnumerable<ASLRD_R1.DataBaseAccess.restaurant>
@{
    ViewBag.Title = "Restaurant";
}

<h2>Liste des restaurants pour la ville de :</h2>

<table>
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
    </tr>*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td></td>        
            <td>
                @Html.ActionLink("La carte", "GetProduit", new { restaurantId = @item.restaurantID }, new { @class = "btn btn-default btn-lg" })
            </td>
        </tr>
    }

</table>